@font-face{
	font-family: 'WebFont';
	src: url('/static/images/OpenSans-CondLight.ttf');
}
body{
	font-family: 'WebFont';
	background-image: url("/static/images/concrete_wall_bg.png");
	color: #415e8a;
}
.container{
	margin: 0 auto;
	width: 800px;
}
.clear{
	clear: both; zoom: 1;
}
.products{
	width: 800px;
	margin-bottom: 30px;
}
.product-list{
	list-style: none;
	text-align: center;
}
.product{
	float: left;
	margin: 25px 0 0 0;
	position: relative;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	width: 210px;
}
.product-name{
	font-family: 'WebFont';
	line-height: 50px;
	font-size: 1em;
	color: #415e8a;
}
.product-image{
	background-color: #FFFFFF;
    border: 0;
    width: 205px;
    height: 205px;
}
.product-price{
	font-size: 1.2em;
	font-weight: bold;
	color: #415e8a;
}
.product-price-sale{
	font-size: 1.2em;
	font-weight: bold;
	color: #415e8a;
}
.header{
	font-family: 'WebFont';
	color: #415e8a;
	text-align: center;
	border-bottom: 3px solid #415e8a;
}
.title{
	color: #415e8a;
	text-transform: uppercase;
	margin: 40px auto;
}
.footer{
	font-family: WebFont;
	color: #415e8a;
	margin-top: 50px;
	text-align: center;
	border-top: 1px solid #415e8a;
}
.copyright{
	font-family: WebFont;
	color: #415e8a;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid #415e8a;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
}
